/* ********* */
/*  GENERIC  */
/* ********* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'sans';
  overflow-x: hidden;
}

/* ******* */
/*  FONTS  */
/* ******* */

@font-face {
  font-family: 'sans';
  src: url('./fonts/px_grotesk_light.ttf');
}

@font-face {
  font-family: 'mono';
  src: url('./fonts/IBMPlexMono-Light.ttf');
}

@font-face {
  font-family: 'sun-moon';
  src: url('./fonts/sun-moon.ttf') format('truetype');
}

/* ******* */
/*  GRIDS  */
/* ******* */

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#grid section {
  position: relative;
  overflow: hidden;
}

#grid section:hover header {
  display: block;
}

#grid section article {
  background-color: var(--color-block);
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#grid section:nth-of-type(9n + 1),
#grid section:nth-of-type(9n + 5),
#grid section:nth-of-type(9n + 9) {
  grid-column: auto / span 2;
}

.blend-mode-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}

/* ******** */
/*  INPUTS  */
/* ******** */

input[type='range'] {
  appearance: none;
  width: 150px;
  height: 38px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 7px;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 26px;
  height: 26px;
  background: black;
  border-radius: 30px;
  outline: none;
}

.color-ranges input[type='range'] {
  border: solid 0.5px var(--block-8-color);
  border-radius: 50px;
  background: none;
  padding: 0 0.5vw;
  height: 4vw;
  width: 85%;
}

.color-ranges input[type='range']::-webkit-slider-thumb {
  background: var(--block-8-color);
  height: 3.25vw;
  width: 3.25vw;
}

#block-14 input[type='range'] {
  width: 50px;
  height: 10px;
  padding: 1px;
  border: solid 1px grey;
}

#block-14 input[type='range']::-webkit-slider-thumb {
  width: 6px;
  height: 6px;
}

/* ****** */
/*  TEXT  */
/* ****** */

#block-1 ::selection {
  background: black;
}

#block-10 ::selection {
  background: var(--blue1);
}

.block-20.text span {
  opacity: 0.3;
}

.block-20.text:hover span {
  opacity: 1;
}

/* ************ */
/*  ANIMATIONS  */
/* ************ */

.disco-top-right {
  animation: disco-top-right 2.5s linear infinite;
}

@keyframes disco-top-right {
  0% {
    background-position: 12.5vw -12.5vw;
  }
  100% {
    background-position: 37.5vw -37.5vw;
  }
}

.disco-top-left {
  animation: disco-top-left 2.5s linear infinite;
}

@keyframes disco-top-left {
  0% {
    background-position: -12.5vw -12.5vw;
  }
  100% {
    background-position: -37.5vw -37.5vw;
  }
}

.disco-bottom-left {
  animation: disco-bottom-left 2.5s linear infinite;
}

@keyframes disco-bottom-left {
  0% {
    background-position: -12.5vw 12.5vw;
  }
  100% {
    background-position: -37.5vw 37.5vw;
  }
}

.disco-bottom-right {
  animation: disco-bottom-right 2.5s linear infinite;
}

@keyframes disco-bottom-right {
  0% {
    background-position: 12.5vw 12.5vw;
  }
  100% {
    background-position: 37.5vw 37.5vw;
  }
}

.arrows-top {
  transform: translateY(-4px);
}

.arrows-top.to-top {
  animation: arrows-to-top 0.5s alternate infinite;
}

@keyframes arrows-to-top {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-16px);
  }
}

.arrows-bottom {
  transform: translateY(4px);
}

.arrows-bottom.to-bottom {
  animation: arrows-to-bottom 0.5s alternate infinite;
}

@keyframes arrows-to-bottom {
  0% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(16px);
  }
}
