* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

#block-1 ::selection {
  background: black;
}

#block-10 ::selection {
  background: var(--blue1);
}

::-webkit-scrollbar {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 25vw);
}

#grid section:nth-child(9n + 1),
#grid section:nth-child(9n + 5),
#grid section:nth-child(9n + 9) {
  grid-column: auto / span 2;
}

input[type='range'] {
  appearance: none;
  width: 150px;
  height: 4px;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: black;
  border-radius: 30px;
  outline: none;
}

.color-ranges input[type='range'] {
  border: solid 0.5px var(--block-8-color);
  border-radius: 50px;
  background: none;
  padding: 0 0.5vw;
  height: 4vw;
  width: 85%;
}

.color-ranges input[type='range']::-webkit-slider-thumb {
  background: var(--block-8-color);
  height: 3.25vw;
  width: 3.25vw;
}

.disco-top-right {
  animation: disco-top-right 2.5s linear infinite;
}

@keyframes disco-top-right {
  0% {
    background-position: 12.5vw -12.5vw;
  }
  100% {
    background-position: 37.5vw -37.5vw;
  }
}

.disco-top-left {
  animation: disco-top-left 2.5s linear infinite;
}

@keyframes disco-top-left {
  0% {
    background-position: -12.5vw -12.5vw;
  }
  100% {
    background-position: -37.5vw -37.5vw;
  }
}

.disco-bottom-left {
  animation: disco-bottom-left 2.5s linear infinite;
}

@keyframes disco-bottom-left {
  0% {
    background-position: -12.5vw 12.5vw;
  }
  100% {
    background-position: -37.5vw 37.5vw;
  }
}

.disco-bottom-right {
  animation: disco-bottom-right 2.5s linear infinite;
}

@keyframes disco-bottom-right {
  0% {
    background-position: 12.5vw 12.5vw;
  }
  100% {
    background-position: 37.5vw 37.5vw;
  }
}

.blend-mode-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 20px;
}
