* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(13, 25vw);
}

#grid div:nth-child(9n + 1),
#grid div:nth-child(9n + 5),
#grid div:nth-child(9n + 9) {
  grid-column: auto / span 2;
}
